- flash.each do |name, msg|
  %div(class="alert #{bootstrap_class_for(name)} alert-dismissible fade in")
    %a.close(data-dismiss='alert') &#215;
    = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
